<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="function_page.js"></script>
</head>
<body>
    <p>
        <%if(locals.message){%>
            <%=message %>
        <%}%>
    </p>
    <form method="POST" action="/calendar/addCalendar" enctype="multipart/form-data">
        <input type="file" value="Charger ICS" name="calendar"/>
        <button type="submit">Valider</button>
        <div id="demoShowA"></div>
    </form>
</body>
</html>